# dependencies
/node_modules

# Next.js build output
/.next
/out

# local environment variables
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# OS and editor files
.DS_Store
.idea
.vscode

# deployment platforms
.vercel

